.activities {
  margin: 2rem 3rem;
}

.activities__title {
  font-weight: 700;
  color: var(--darkPurpleColor);
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.activities__day {
  font-weight: 600;
  color: var(--darkPurpleColor);
  font-size: 1.2rem;
  margin: 5rem 0 1.2rem;
}

.activity {
  background-color: white;
  padding: 1.1rem 1.4rem;
  margin-bottom: 1.7rem;

  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .15);
  border-radius: var(--borderRadius);

  background-image: url(../assets/img/arrow.svg);
  background-repeat: no-repeat;
  background-position: 98% 90%;
}

.activity__button {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.activity__button__wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 1.6rem;
}

.activity__button__time {
  color: #828282;
  font-size: 1rem;
}

.activity__button__name {
  color: var(--darkPurpleColor);
  font-size: 2.4rem;
  font-weight: 700;
  margin-top: .5rem;
  text-transform: capitalize;
}

.add__activity {
  background-color: var(--greenColor);
  color: white;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  font-weight: 300;
  line-height: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 7.8rem;
  right: 2.4rem;
  text-decoration: none;
}

@media screen and (min-width: 650px) {

  .activities {
    margin: 0 auto;
    margin-top: 10.5rem;
    min-width: 35rem;
  }

  .activities__title {
    font-size: 2.4rem;
    margin-bottom: 7rem;
  }

  .activities__day {
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
  }

  .add__activity {
    bottom: 2.4rem;
  }
}

@media screen and (min-width: 850px) {

  .activities {
    width: 60vw;
  }
}

@media screen and (min-width: 1100px) {

  .activities__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
  }

  .activities {
    min-width: 65rem;
  }

  .activities__title {
    font-size: 3.6rem;
  }

}
