.header__detail {
  background-color: var(--purpleColor);
  padding: 2.5rem;
  color: white;

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.detail__title {
  font-weight: 600;
  font-size: 1.8rem;
}

.header__detail a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  font-weight: 300;

  &::before {
    content: '';
    background-repeat: no-repeat;
    background-image: url(../assets/img/arrow-back.svg);
    background-position: center;
    padding-left: 3rem;
  }
}

.activity__details {
  margin: 4rem 3rem;
}

.details__main {
  display: flex;
  align-items: center;
}

.details__main img {
  width: 9rem;
  margin-right: 3.5rem;
}

.detail__sport {
  color: var(--darkPurpleColor);
  font-size: 2.4rem;
  font-weight: 700;
}

.detail__time, .detail__location {
  color: var(--greenColor);
  font-size: 1.4rem;
  margin-top: 1rem;
}

.detail__subtitle {
  color: var(--orangeColor);
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 3rem;
}
