.detail__wrapper {
  margin: var(--mediumMargin) var(--smallMargin);
}

.activity__details {
  margin-top: var(--smallMargin);
  width: 100%;
}

.details__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}

.details__img {
  background-color: var(--whiteColor);
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .15);
  border-radius: var(--borderRadius);
  padding: 2rem var(--smallMargin);

  display: flex;
  align-items: center;
  flex-direction: column;
}

.details__img img {
  width: 7rem;
}

.details__img p {
  font-size: 1.2rem;
  color: var(--purpleColor);
  font-weight: var(--fontWeightBold);
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.detail__sport {
  color: var(--darkPurpleColor);
  font-size: 2.4rem;
  font-weight: var(--fontWeightBold);
  margin-bottom: 2rem;
}

.detail__time, .detail__location, .detail__date {
  color: var(--orangeColor);
  font-size: 1.4rem;
  margin-top: 1rem;

  &::before {
    content: '';
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 2.5rem;
  }
}

.detail__time::before {
  background-image: url(../assets/img/icon-time.svg);
}

.detail__location::before {
  background-image: url(../assets/img/icon-location.svg);
}

.detail__date::before {
  background-image: url(../assets/img/icon-date.svg);
}

.detail__subtitle {
  color: var(--darkPurpleColor);
  font-size: 2rem;
  font-weight: var(--fontWeightSemiBold);
  margin-top: var(--smallMargin);
}

.overview__title {
  color: var(--orangeColor);
  font-size: 1.8rem;
  font-weight: var(--fontWeightSemiBold);
  margin-top: var(--smallMargin);
  margin-bottom: 2rem;
}

.intensity__wrapper {
  background-position: top;
  background-repeat: no-repeat;
  width: 8rem;

  padding-top: 6rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
  color: var(--purpleColor);
  font-size: 1.4rem;
  margin-top: var(--smallMargin);
}

.intensity__wrapper--light {
  background-image: url(../assets/img/light-icon-selected.svg);
}

.intensity__wrapper--medium {
  background-image: url(../assets/img/medium-icon-selected.svg);
}

.intensity__wrapper--hard {
  background-image: url(../assets/img/hard-icon-selected.svg);
}

.focus__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.overview__focus {
  text-transform: uppercase;
  color: var(--purpleColor);
  font-size: 1.2rem;
  background-color: var(--whiteColor);
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .15);
  border-radius: var(--borderRadius);
  padding: 1.5rem;
  display: inline-block;
  font-weight: var(--fontWeightBold);
  width: 14.5rem;
  text-align: center;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.friends__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.overview__friend {
  background-color: var(--purpleColor);
  color: white;
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-size: 1.2rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 .2rem 1rem var(--shadowColor);
}

.details__buttons {
  margin-top: 5rem;
}

.btn__detail {
  background-color: inherit;
  border: .2rem solid var(--purpleColor);
  border-radius: 3rem;
  padding: .7rem 3rem;
  color: var(--purpleColor);
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: var(--fontWeightSemiBold);
  text-transform: uppercase;
}

.btn__edit {
  border: .2rem solid var(--purpleColor);
  color: var(--purpleColor);
  margin: 0 var(--mediumMargin) var(--mediumMargin) 0;
  max-width: 30rem;
}

.btn__delete {
  border: .2rem solid var(--orangeColor);
  color: var(--orangeColor);
}

@media screen and (min-width: 650px) {

  .detail__wrapper {
    margin: 0 auto;
  }

  .btn__detail {
    padding: 1rem 5rem;
  }

}
