.form {
  margin: var(--mediumMargin) var(--smallMargin);
}

.form__title {
  color: var(--darkPurpleColor);
  font-size: 2.4rem;
  font-weight: 600;
  margin-top: 3rem;
}

.form__errors {
  border-left: .5rem solid var(--orangeColor);
  color: var(--darkPurpleColor);
  font-weight: bold;
  margin-bottom: 4rem;
  padding-left: 1rem;
}

.add-activity {
  margin-top: 5rem;
}

.add-activity__form-item {
  display: flex;
  flex-direction: column;
}

.add-activity__label {
  color: var(--orangeColor);
  font-weight: 600;
  padding-bottom: var(--smallMargin);
  font-size: 1.6rem;
}

.add-activity__options-container {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: var(--mediumMargin);
}

.add-activity__form-item__date .add-activity__options-container {
  justify-content: center;
}

.add-activity__form-item__location .add-activity__options-container {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

[type=radio], [type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.add-activity__option {
  margin: 0 1rem 2rem 0;
}

.add-activity__option.add-activity__option--date {
  margin: 0 .5rem 2rem 0;
}

.add-activity__option .add-activity__option__container {
  align-items: center;
  background-color: var(--whiteColor);
  border-radius: var(--borderRadius);
  box-shadow: 0 .2rem 1rem var(--shadowColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-activity__option .add-activity__option__container > p {
  color: var(--purpleColor);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem .5rem;
  text-transform: uppercase;
}

.add-activity__option.add-activity__option--square .add-activity__option__container {
  height: 13.5rem;
  width: 13.5rem;
}

.add-activity__option.add-activity__option--date .add-activity__option__container {
  height: 10rem;
  width: 7rem;
}

.add-activity__option.add-activity__option--date .date--large {
  font-size: 2.3rem;
  padding-bottom: 0;
}

.add-activity__option.add-activity__option--location .add-activity__option__container {
  height: 13.5rem;
  width: 8.5rem;
}

.add-activity__option.add-activity__option--intensity {
  background-position: top center;
  background-repeat: no-repeat;
  color: var(--lightPurpleColor);
  font-weight: 600;
  padding-top: 6rem;
  text-align: center;
  width: 30%;
}

.add-activity__option--intensity--light .add-activity__option__container {
  background-image: url(../assets/img/light-icon.svg);
}

.add-activity__option--intensity--medium {
  background-image: url(../assets/img/medium-icon.svg);
}

.add-activity__option--intensity--hard {
  background-image: url(../assets/img/hard-icon.svg);
}

.add-activity__option--intensity--light [type=radio]:checked {
  background-image: url(../assets/img/light-icon-selected.svg);
}

.add-activity__option--intensity--medium [type=radio]:checked {
  background-image: url(../assets/img/medium-icon-selected.svg);
}

.add-activity__option--intensity--hard [type=radio]:checked {
  background-image: url(../assets/img/hard-icon-selected.svg);
}

.add-activity__option.add-activity__option--intensity .add-activity__option__container > p {
  color: var(--lightPurpleColor);
}

.add-activity__option.add-activity__option--focus .add-activity__option__container {
  height: 5rem;
  max-width: 25rem;
  width: 40vw;
}

.add-activity__option [type=radio]:checked ~ .add-activity__option__container {
  background-color: var(--purpleColor);
}

.add-activity__option [type=radio]:checked ~ .add-activity__option__container > p {
  color: white;
}

.add-activity__option [type=radio]:checked ~ .add-activity__option__container > svg > path {
  fill: white;
}

.add-activity__option [type=checkbox]:checked ~ .add-activity__option__container {
  background-color: var(--purpleColor);
}

.add-activity__option [type=checkbox]:checked ~ .add-activity__option__container > p {
  color: white;
}

.add-activity__option [type=checkbox]:checked ~ .add-activity__option__container > svg > path {
  fill: white;
}

.add-activity__option.add-activity__option--intensity [type=radio]:checked ~ .add-activity__option__container {
  background-color: transparent;
}

.add-activity__option.add-activity__option--intensity [type=radio]:checked ~ .add-activity__option__container > p {
  color: var(--purpleColor);
}

.add-activity__option.add-activity__option--intensity [type=radio]:checked ~ .add-activity__option__container > svg > path {
  fill: var(--purpleColor);
}

.input-time {
  border: none;
  color: var(--purpleColor);
  font-size: 2.5rem;
  width: 10rem;
  background-color: transparent;
  outline: lightgray;
  border-bottom: .2rem solid var(--purpleColor);
}

.input-time::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.input-time::-webkit-datetime-edit-text {
  padding: 2rem .4rem;
}

.input-time::-webkit-clear-button, .input-time::-webkit-inner-spin-button {
  display: none;
}

.input-time::-webkit-datetime-edit-hour-field, .input-time::-webkit-datetime-edit-minute-field {
  padding: 1rem;

  &:focus {
    color: var(--orangeColor);
  }
}

@media screen and (min-width: 650px) {

  .form {
    width: 35rem;
    margin: var(--mediumMargin) auto;
  }

  .form__title {
    margin-top: 10rem;
  }
}

@media screen and (min-width: 750px) {

  .form {
    width: 60rem;
  }

  .add-activity__options-container {
    justify-content: flex-start;
  }
  .add-activity__form-item__date .add-activity__options-container {
    justify-content: flex-start;
  }

}
