.addactivity {
  margin: var(--mediumMargin) var(--smallMargin);
}

.addactivity__title {
  color: var(--darkPurpleColor);
  font-size: 2.4rem;
  font-weight: var(--fontWeightSemiBold);
  margin-top: var(--smallMargin);
}

.addactivity__form {
  margin-top: 5rem;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mediumMargin);
}

.form__label {
  color: var(--orangeColor);
  font-weight: var(--fontWeightSemiBold);
  padding-bottom: var(--smallMargin);
  font-size: 1.6rem;
}

.form__errors {
  border-left: .5rem solid var(--orangeColor);
  color: var(--darkPurpleColor);
  font-weight: var(--fontWeightSemiBold);
  margin-bottom: var(--mediumMargin);
  padding-left: 1rem;
}

.form__item__options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.options__item {
  margin: 0 1rem 2rem 0;
}

.options__item__wrapper {
  align-items: center;
  background-color: var(--whiteColor);
  border-radius: var(--borderRadius);
  box-shadow: 0 .2rem 1rem var(--shadowColor);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.options__item__p {
  color: var(--purpleColor);
  font-size: 1.4rem;
  font-weight: var(--fontWeightSemiBold);
  padding: 2rem 0 1rem;
  text-align: center;
  text-transform: uppercase;
}

/* type */
.form__item--type .form__item__options {
  justify-content: flex-start;
}

.form__item--type .options__item__wrapper {
  height: 13.5rem;
  width: 13.5rem;
}

/* .has-js .btn__type {
  display: none;
} */

/* sport */
.form__item--sport .form__item__options {
  justify-content: flex-start;
}

.form__item--sport .options__item__wrapper {
  height: 13.5rem;
  width: 13.5rem;
}

/* day */
.form__item--date .form__item__options {
  justify-content: center;
}

.form__item--date .options__item__wrapper {
  height: 10rem;
  width: 7rem;
}

.options__item__p--largedate {
  font-size: 2.3rem;
  padding-bottom: 0;
}

/* starthour */
.input-time {
  border: none;
  color: var(--purpleColor);
  font-size: 2.5rem;
  width: 10rem;
  background-color: transparent;
  outline: lightgray;
  border-bottom: .2rem solid var(--purpleColor);
}

.input-time::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.input-time::-webkit-datetime-edit-text {
  padding: 2rem .4rem;
}

.input-time::-webkit-clear-button, .input-time::-webkit-inner-spin-button {
  display: none;
}

.input-time::-webkit-datetime-edit-hour-field, .input-time::-webkit-datetime-edit-minute-field {
  padding: 1rem;

  &:focus {
    color: var(--orangeColor);
  }
}

/* location */
.form__item--location .form__item__options {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.form__item--location .options__item__wrapper {
  height: 16.5rem;
  width: 13.5rem;
  text-align: center;
}

/* friends */
.friends__bubbles__wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.friends__bubble {
  background-color: var(--purpleColor);
  color: white;
  padding: 1rem 2rem;
  border-radius: 4rem;
  font-size: 1.2rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 1;
  box-shadow: 0 .2rem 1rem var(--shadowColor);

  display: flex;
}

.friends__label {
  border-bottom: .2rem solid var(--purpleColor);
  color: var(--purpleColor);
  font-size: 1.2rem;
  margin: 0 var(--mediumMargin) var(--smallMargin) 0;
  padding-bottom: 1rem;
}

.friends__label input {
  border: none;
  background-color: transparent;
}

.friends__label__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.btn__addfriend {
  border: .2rem solid var(--purpleColor);
  color: var(--purpleColor);
  padding: .2rem 2rem;
  font-size: 1.3rem;
  height: 3rem;
}

.delete__bubble {
  color: white;
  margin-left: 1rem;
}

/* intensity */
.form__item--intensity .form__item__options {
  align-items: flex-end;
}

.form__item--intensity .options__item__wrapper {
  color: var(--lightPurpleColor);
  background-color: inherit;
  border: none;
  box-shadow: none;
  font-weight: var(--fontWeightSemiBold);
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}

.form__item--intensity .options__item__p {
  color: var(--lightPurpleColor);
}

/* focus */
.form__item--focus .options__item__wrapper {
  height: 5rem;
  max-width: 25rem;
  width: 90vw;
}

.form__item--focus .options__item__p {
  padding: 2rem 0;
}

/* selected value */
.options__item__input:checked ~ .options__item__wrapper {
  background-color: var(--purpleColor);
}

.options__item__input:checked ~ .options__item__wrapper > .options__item__p {
  color: var(--whiteColor);
}

.options__item__input:checked ~ .options__item__wrapper > svg path {
  fill: var(--whiteColor);
}

.form__item--intensity .options__item__input:checked ~ .options__item__wrapper {
  background-color: inherit;
}

.form__item--intensity .options__item__input:checked ~ .options__item__wrapper > .options__item__p {
  color: var(--purpleColor);
}

.form__item--intensity .options__item__input:checked ~ .options__item__wrapper > svg path {
  fill: var(--purpleColor);
}

@media screen and (min-width: 400px) {

  .form__item--focus .options__item__wrapper {
    width: 39vw;
  }
}

@media screen and (min-width: 650px) {

  .addactivity {
    width: 35rem;
    margin: var(--mediumMargin) auto;
  }

  .btn__addfriend {
    padding: .2rem 2rem;
  }
}

@media screen and (min-width: 750px) {

  .addactivity {
    margin: var(--mediumMargin) auto;
    margin-bottom: 5rem;
    width: 40rem;
  }

  .form__item__wrapper {
    justify-content: flex-start;
  }

  .add-activity__form-item__date .form__item__wrapper {
    justify-content: flex-start;
  }

  .btn__addfriend {
    padding: .2rem 2rem;
  }

}

@media screen and (min-width: 1000px) {

  .addactivity {
    width: 60rem;
  }

  .btn__addfriend {
    padding: .2rem 2rem;
  }
}
