.center {
  margin: var(--mediumMargin) var(--smallMargin);
}

.add-activity__form-item {
  display: flex;
  flex-direction: column;
}

.add-activity__label {
  color: var(--orangeColor);
  font-weight: 600;
  padding-bottom: var(--smallMargin);
}

.add-activity__options-container {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: var(--mediumMargin);
}

.add-activity__form-item__date .add-activity__options-container {
  justify-content: center;
}

.add-activity__form-item__location .add-activity__options-container {
  flex-wrap: nowrap;
  overflow-x: scroll;
}

[type=radio], [type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.add-activity__option {
  margin: 0 1rem 2rem 0;
}

.add-activity__option.add-activity__option--date {
  margin: 0 .5rem 2rem 0;
}

.add-activity__option .add-activity__option__container {
  align-items: center;
  background-color: var(--whiteColor);
  border-radius: var(--borderRadius);
  box-shadow: 0 .2rem 1rem var(--shadowColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-activity__option .add-activity__option__container > p {
  color: var(--purpleColor);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem .5rem;
  text-transform: uppercase;
}
.add-activity__option.add-activity__option--square .add-activity__option__container {
  height: 13.5rem;
  width: 13.5rem;
}

.add-activity__option.add-activity__option--date .add-activity__option__container {
  height: 10rem;
  width: 7rem;
}

.add-activity__option.add-activity__option--date .date--large {
  font-size: 2.3rem;
  padding-bottom: 0;
}

.add-activity__option.add-activity__option--location .add-activity__option__container {
  height: 13.5rem;
  width: 8.5rem;
}

.add-activity__option.add-activity__option--intensity .add-activity__option__container {
  background-color: transparent;
  border: none;
  box-shadow: none;
  height: auto;
  width: auto;
}

.add-activity__option.add-activity__option--intensity .add-activity__option__container > p {
  color: var(--lightPurpleColor);
}

.add-activity__option.add-activity__option--focus .add-activity__option__container {
  height: 5rem;
  width: 40vw;
}

.add-activity__option [type=radio]:checked ~ .add-activity__option__container {
  background-color: var(--purpleColor);
}

.add-activity__option [type=radio]:checked ~ .add-activity__option__container > p {
  color: white;
}

.add-activity__option [type=radio]:checked ~ .add-activity__option__container > svg > path {
  fill: white;
}

.add-activity__option [type=checkbox]:checked ~ .add-activity__option__container {
  background-color: var(--purpleColor);
}

.add-activity__option [type=checkbox]:checked ~ .add-activity__option__container > p {
  color: white;
}

.add-activity__option [type=checkbox]:checked ~ .add-activity__option__container > svg > path {
  fill: white;
}

.add-activity__option.add-activity__option--intensity [type=radio]:checked ~ .add-activity__option__container {
  background-color: transparent;
}

.add-activity__option.add-activity__option--intensity [type=radio]:checked ~ .add-activity__option__container > p {
  color: var(--purpleColor);
}

.add-activity__option.add-activity__option--intensity [type=radio]:checked ~ .add-activity__option__container > svg > path {
  fill: var(--purpleColor);
}
