.menu {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.6rem;
  padding: 0 5rem;

  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0 .2rem 1rem rgba(0, 0, 0, .15);
}

.menu__item {
  display: flex;
  align-items: flex-end;
  align-items: center;
}
