:root {
  /* colors */
  --purpleColor: #4546a3;
  --darkPurpleColor: #212256;
  /* --lightPurpleColor: #ecedf6; */
  --lightPurpleColor: #c5cadc;
  --orangeColor: #ff7f56;
  --lightOrangeColor: #ffece7;
  --greenColor: #6ac7be;
  --lightGreenColor: #e9f7f4;
  --whiteColor: white;
  --shadowColor: rgba(95, 64, 225, .09);
  --backgroundColor: #f9fafe;
  /* margins */
  --smallMargin: 3rem;
  --mediumMargin: 4rem;
  /* borders */
  --borderRadius: .7rem;
  --layoutBorderRadius: 3rem;
}
