@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/navigation.css';
@import './css/activities.css';
@import './css/detail.css';
@import './css/hours.css';
@import './css/form.css';
@import './css/slider.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

/* stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable*/

body {
  background-color: var(--purpleColor);
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.hidden {
  display: none;
}

.layout {
  background-color: var(--backgroundColor);
  margin-top: 18rem;
  min-height: 100vh;
  padding: 5rem 0;
}


@media screen and (min-width: 650px) {

  .layout {
    border-radius: var(--layoutBorderRadius) 0 0 var(--layoutBorderRadius);
    display: flex;
    height: 100vh;
    margin: 0 0 0 25rem;
    overflow-y: scroll;
  }

}

@media screen and (min-width: 1100px) {

  .layout {
    display: flex;
    margin: 0 0 0 30rem;
  }

}
