@import './css/reset.css';
@import './css/vars.css';
@import './css/header.css';
@import './css/navigation.css';
@import './css/activities.css';
@import './css/hours.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

/* stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable*/

body {
  background-color: var(--lightPurpleColor);
  font-size: 1.8rem;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
}

.hidden {
  display: none;
}

@media screen and (min-width: 828px) {

  .header {
    background-color: red;
  }
}
